# packages
/node_modules

# production
/build

# public
/public/images/*
/public/locales/*

# misc
.idea
.vscode
.DS_Store
.env

# other
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# never ignore .gitkeep
!.gitkeep
